<div class="calculation-main">
  <div class="calculation-inner">
  <form [formGroup]="mathsForm" (submit)="submitForm()">
    <div class="number-main">
      <div class="number">
        <span>{{firstNumber}}</span> + <span>{{secondNumber}}</span> =
      </div>

      <div class="total-number">
        <input type="text" class="form-control" formControlName="answer" (keypress)="restrictNumeric($event)">
      </div>


    </div>
    <button type="submit" style="display:none" [disabled]="mathsForm.invalid">hidden submit</button>
  </form>
  <p class="result"><span>{{averageTime}}</span> seconds per solution</p>
</div>
</div>
<toaster-container [toasterconfig]="config"></toaster-container>
